.header {
  $this: &;

  padding: 15px 0 50px;

  @include respond-to('small') {
    padding: 15px 0;

  }

  &__wrapper {
    @include respond-to('small') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    position: relative;
    text-align: center;
    z-index: 2;
  }

  &__logo-link {
    text-decoration: none;
    color: $black;
    transition: 0.3s transform ease-out;

    @include respond-to('small') {
      display: flex;
      align-items: center;

      &:hover {
        transform: translateX(-4px);

        @include respond-to('small') {
          cursor: none;
        }

        #{$this}__logo-name {
          span {
            opacity: 1;
          }
        }
      }
    }
  }

  &__logo-name {
    @extend %logo-text;

    display: none;
    margin-left: 5px;

    @include respond-to('small') {
      display: initial;
    }

    span {
      opacity: 0;
      transition: 800ms opacity;

      &:nth-child(1) { transition-delay: 10ms; }
      &:nth-child(2) { transition-delay: 30ms; }
      &:nth-child(3) { transition-delay: 50ms; }
      &:nth-child(4) { transition-delay: 70ms; }
      &:nth-child(5) { transition-delay: 90ms; }
      &:nth-child(6) { transition-delay: 110ms; }
      &:nth-child(7) { transition-delay: 130ms; }
      &:nth-child(8) { transition-delay: 150ms; }
      &:nth-child(9) { transition-delay: 170ms; }
    }
  }

  &__nav-list {
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;
    justify-content: center;
    list-style: none;

    @include respond-to('small') {
      margin-top: 0;
    }
  }

  &__nav-link {
    @extend %nav-link;

    position: relative;
    display: inline-block;
    margin: 0 30px;
    text-decoration: none;
    color: $black;
    transition: 0.3s transform ease-out, 0.3s color;
    z-index: 2;

    &--active {
      color: $blue;
    }

    &:hover {
      transform: translateX(-4px);
      color: $black;

      @include respond-to('small') {
        cursor: none;
      }
    }

    @include respond-to('small') {
      margin-left: 60px;
    }
  }
}
