.intro {
  $this: &;

  margin-bottom: 125px;

  @include respond-to('medium') {
    margin-bottom: 400px;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    @extend %page-title;

    margin: 75px 0 10px;

    @include respond-to('small') {
      margin: 150px 0 0;
    }
  }

  &__sub-title {
    @extend %sub-title;

    margin: 0;
  }

  &__description {
    @extend %callout-text;

    position: relative;
    max-width: 540px;
    margin: 10px 0 30px;
    z-index: 1;

    @include respond-to('small') {
      margin-bottom: 75px;
    }
  }

  &__profile-wrapper {
    position: relative;
    display: inline-block;
    margin: 75px auto 0;
    max-width: 300px;
    display: block;

    @include respond-to('medium') {
      position: absolute;
      right: -15px;
      bottom: -175px;
      margin-top: 0;
      max-width: none;
    }
  }

  &__op {
    position: absolute;
    display: block;
    color: $blue;
    pointer-events: none;
    opacity: 0;
    transition: 800ms opacity;

    &--foreground {
      font-size: 42px;
      opacity: 0;
      animation: fadeForeground 0.5s ease both;

      @include respond-to('small') {
        font-size: 64px;
      }
    }

    &--background {
      display: none;
      font-size: 32px;
      animation: fadeBackground 0.5s ease both;

      @include respond-to('small') {
        display: block;
      }
    }

    &--one {
      top: 5px;
      left: 10px;
      animation-delay: 400ms;
    }

    &--two {
      top: 40px;
      right: -20px;
      animation-delay: 1000ms;
    }

    &--three {
      bottom: -20px;
      left: -35px;
      animation-delay: 700ms;

      @include respond-to('small') {
        left: -70px;
      }
    }

    &--four {
      bottom: -50px;
      right: -15px;
      animation-delay: 1500ms;

      @include respond-to('small') {
        right: -50px;
      }
    }

    &--five {
      top: -90px;
      right: 120px;
      animation-delay: 1900ms;
    }

    &--six {
      top: 55%;
      right: -140px;
      animation-delay: 2000ms;
    }

    &--seven {
      bottom: -110px;
      left: 100px;
      animation-delay: 1700ms;
    }

    &--eight {
      bottom: 170px;
      left: -130px;
      animation-delay: 1300;
    }

    &--nine {
      bottom: -50px;
      left: -236px;
      animation-delay: 170ms;
    }
  }
}


@keyframes fadeForeground {
  from {
    opacity: 0;
  }

  to {
      opacity: 0.5;
  }
}

@keyframes fadeBackground {
  from {
    opacity: 0;
  }

  to {
      opacity: 0.25;
  }
}
