.single-post {
  position: relative;
  margin-bottom: 200px;

  &__hero-wrapper {
    position: relative;
    display: block;
  }

  &__hero {
    max-width: 100%;
    max-height: 700px;
  }

  &__section-title {
    @extend %section-title;

    margin-top: 50px;
    margin-bottom: 20px;

    @include respond-to('small') {
      margin-top: 125px;
    }
  }

  &__intro-description {
    @extend %body-copy;

    margin-bottom: 40px;
  }

  &__intro {
    @include respond-to('small') {
      margin-bottom: 150px;
      display: flex;
      justify-content: space-between;

    }
  }

  &__sidebar-heading {
    margin-bottom: 0;
  }

  &__sidebar-description {
    margin-top: 0;
    color: #999;
  }

  &__left-col {
    margin-bottom: 50px;

    @include respond-to('small') {
     width: 65%;
     margin-bottom: 0;
    }
  }

  &__right-col {
    max-width: 230px;
  }

  &__image-wrapper {
    margin: 30px 0;
  }

  &__image {
    max-width: 100%;
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    &--end {
      justify-content: flex-end;
    }
  }

  &__prev,
  &__next {
    @extend %pagination;

    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    z-index: 1;
    text-decoration: none;
    transition: 0.3s transform ease-out;
    color: $black;

    @include respond-to('small') {
      align-items: center;
    }

    &:hover {
      @include respond-to('small') {
        cursor: none;
      }
    }
  }

  &__next {
    justify-content: flex-end;
    margin-left: 18px;

    &:hover {
      transform: translateX(8px);
    }
  }

  &__prev {
    margin-right: 18px;

    &:hover {
      transform: translateX(-8px);
    }
  }

  &__next-icon {
    display: flex;
    margin-left: 10px;
    width: 26px;
  }

  &__prev-icon {
    display: flex;
    transform: rotate(180deg);
    margin-right: 10px;
    width: 26px;
  }
}
