.work-list {
  margin-top: 200px;

  @include respond-to('small') {
    margin-top: 400px;
  }

  &__section-title {
    @extend %section-title;

    text-align: center;
  }

  &__item {
    margin-bottom: 100px;

    @include respond-to('small') {
      margin-bottom: 200px;
    }
  }

  &__item-image {
    border: 10px solid #eeee;
    height: 550px;

    &:hover {
      cursor: none;
    }
  }

  &__item-content-wrapper {
    margin-top: 40px;

    @include respond-to('small') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item-title {
    @extend %item-title;

    margin: 0;
  }

  &__item-description {
    @extend %body-copy;
  }

  &__item-description {
    max-width: 445px;
  }
}
