.work-list {
  margin-top: 125px;

  @include respond-to('medium') {
    margin-top: 400px;
  }

  &__section-title {
    @extend %section-title;

    text-align: center;
  }

  &__item {
    margin-bottom: 100px;

    @include respond-to('small') {
      margin-bottom: 200px;
    }
  }

  &__item-image {
    border: 3px solid #eeee;
    max-width: 100%;

    &:hover {
      @include respond-to('small') {
        cursor: none;
      }
    }
  }

  &__item-content-wrapper {
    margin-top: 40px;

    @include respond-to('small') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__item-title {
    @extend %item-title;

    margin: 0;
  }

  &__item-description {
    @extend %body-copy;

    margin-bottom: 35px;
  }

  &__item-description {
    max-width: 450px;
  }
}
