.button {
  $this: &;

  @extend %button-text;

  position: relative;
  display: inline-block;
  padding: 17px 40px;
  text-decoration: none;
  z-index: 2;

  &:hover {
    #{$this}__text {
      transform: translateX(-20px);
    }

    #{$this}__icon {
      opacity: 1;
      transform: translate(0, -37%);
    }
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }

  &--ghost-dark {
    border: 3px solid $black;
    color: $black;
    transition: 0.9s all;
  }

  &__text {
    display: inline-block;
    transition: 0.3s transform ease-out;
    transform: translateX(0);
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 25px;
    opacity: 0;
    transition: 0.25s all ease-out;

    &--right {
      transform: translate(-5px, -37%);
    }

    &--down {
      transform: translate(0, -45%);
    }
  }
}
