%logo-text {
  font-size: 56px;
  font-weight: 900;
}

%nav-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}

%page-title {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 900;

  @include respond-to('small') {
    font-size: 82px;
  }

  @include respond-to('medium') {
    font-size: 96px;
  }
}

%sub-title {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 400;

  @include respond-to('small') {
    font-size: 64px;
  }
}

%section-title {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 900;

  @include respond-to('small') {
    font-size: 64px;
  }
}

%item-title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
}

%pagination {
  font-size: 28px;
  line-height: 36px;
  font-weight: 900;
}

%body-copy {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

%button-text {
  font-size: 12px;
  line-height: 27px;
  font-weight: 900;

  @include respond-to('small') {
    font-size: 18px;
  }
}

%callout-text {
  font-size: 16px;
  line-height: 32px;

  @include respond-to('small') {
    font-size: 24px;
    line-height: 44px;
  }
}
